USE [master]
GO
/****** Object:  Database [HospitalInformationSystem]    Script Date: 11/6/2019 12:18:21 AM ******/
CREATE DATABASE [HospitalInformationSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalInformationSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HospitalInformationSystem.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HospitalInformationSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HospitalInformationSystem_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalInformationSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalInformationSystem]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Approval] [int] NOT NULL,
	[SerialNo] [int] NOT NULL,
	[Date] [nvarchar](max) NULL,
	[Session] [int] NOT NULL,
	[Prescription] [nvarchar](max) NULL,
	[WardId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bloods]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bloods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[BloodGroup] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Bloods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorCategories]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DoctorCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[Fees] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Schedule] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nurses]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[WardId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Nurses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patients]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Receptionists]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receptionists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Receptionists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[TargetLink] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemAdmins]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAdmins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SystemAdmins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wards]    Script Date: 11/6/2019 12:18:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Wards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [DoctorId], [PatientId], [Note], [Approval], [SerialNo], [Date], [Session], [Prescription], [WardId]) VALUES (1, 15, 7, N'kkk', 3, 0, N'10/29/2019', 1, N'PatientPrescriptions/30-10-2019_4_cf1a9caf-eca4-4f13-8cc1-f62f109f1dd1.pdf', 0)
INSERT [dbo].[Appointments] ([Id], [DoctorId], [PatientId], [Note], [Approval], [SerialNo], [Date], [Session], [Prescription], [WardId]) VALUES (2, 15, 7, N'll', 0, 1, N'10/28/2019', 1, NULL, 0)
INSERT [dbo].[Appointments] ([Id], [DoctorId], [PatientId], [Note], [Approval], [SerialNo], [Date], [Session], [Prescription], [WardId]) VALUES (3, 16, 7, N'sd', 1, 0, N'10/29/2019', 1, N'E:\BITM\HealthPlus\HealthPlus\PatientPrescriptions\30-10-2019_3_6257c87d-8d2c-4a76-9b71-56acae3327f7.pdf', 0)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
SET IDENTITY_INSERT [dbo].[Bloods] ON 

INSERT [dbo].[Bloods] ([Id], [Name], [Address], [Phone], [Email], [BloodGroup]) VALUES (1, N'Refat', N'Katghor', N'12345', N'r@g.m', N'A+')
INSERT [dbo].[Bloods] ([Id], [Name], [Address], [Phone], [Email], [BloodGroup]) VALUES (2, N'Amaz', N'Agrabad', N'12456', N's@g.m', N'AB+')
INSERT [dbo].[Bloods] ([Id], [Name], [Address], [Phone], [Email], [BloodGroup]) VALUES (3, N'Abhi', N'Bohaddarhat', N'1254', N'a@g.m', N'AB-')
SET IDENTITY_INSERT [dbo].[Bloods] OFF
SET IDENTITY_INSERT [dbo].[DoctorCategories] ON 

INSERT [dbo].[DoctorCategories] ([Id], [Title]) VALUES (1, N'Allergologists‎')
INSERT [dbo].[DoctorCategories] ([Id], [Title]) VALUES (2, N'Anatomists‎')
INSERT [dbo].[DoctorCategories] ([Id], [Title]) VALUES (3, N'Cardiologists')
SET IDENTITY_INSERT [dbo].[DoctorCategories] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [Name], [Image], [Designation], [Degree], [Fees], [Email], [Password], [Schedule], [CategoryId]) VALUES (15, N'fwS/4c9+y4fuBGU3zjphlHfiF0kDPpJ9qD4MGcTWowY=', N'Photos/Doctor/677f9a5b-e3b6-465c-b63b-5af4302105c6.jpg', N'EwKMKlgCCDywleccCq5eLVjAzWuN2B6E6TC6oBZYnHw=', N'mVOMRdEBAixTm7O3UOv5K9P/tL+03k1LU42mcknS+lM=', 500, N'WBbmcS969yllwLsBIOoiNYYhjCjH0rnCFz/W4g0Vue8=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'1,2,3,5', 1)
INSERT [dbo].[Doctors] ([Id], [Name], [Image], [Designation], [Degree], [Fees], [Email], [Password], [Schedule], [CategoryId]) VALUES (17, N'PH4w2/v+QszPNwdWwnwJ8w==', N'Photos/Doctor/8c7331a9-52a2-45a6-8cbc-0da71a78f73c.jpg', N'qYk9dJFtQm5UyizTuAkfKto4JmoAfyma2Ukff6UVPQY=', N'GCqhXdwiV+PSV3XvHRKa2LAAdTd7SRlRXCpywcA1tRs=', 500, N'Fq+eC9I6Y6KKyu2ajDfTbHj93jjnelaM4fh1oHPMqQ0=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'0,2,5,6', 3)
INSERT [dbo].[Doctors] ([Id], [Name], [Image], [Designation], [Degree], [Fees], [Email], [Password], [Schedule], [CategoryId]) VALUES (18, N'UWl0VWX/cxmBuN+VnSMkNkZZrYgBEBDV5OTILYD+gOQ=', N'Photos/Doctor/a8c57cf6-b764-40f9-ade8-0aeb2ae9a580.jpg', N'0eewm4rZnPwJVJWiD5kTr7QLnaBVT2LnZ+BhQqrXVHk=', N'lmc/JzKcIo61JlNTGRhf2Q==', 500, N'4Fy7nj0EAkOEEGyvkfLR7Lwd3S0s6v1Qb6+/lHDAKCw=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'0,1,2,3', 16)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[Nurses] ON 

INSERT [dbo].[Nurses] ([Id], [Name], [Designation], [Email], [Image], [Password], [WardId]) VALUES (1, N'ZnL+0Zi3CoNmLk9CvUXOcw==', N'51H3x5z4QL+t3kc9PZbARg==', N'P6sizq8CHY0O+Na+8xjbC7z4mdhvnLlIwC+rK/qdMd4=', N'Photos/Nurse/331ca81e-a44b-41c0-b808-f8e5527f737d.jpg', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', 1)
INSERT [dbo].[Nurses] ([Id], [Name], [Designation], [Email], [Image], [Password], [WardId]) VALUES (2, N'M/QpFYmKbzM+IYMlb1yN8Q==', N'nHo/l2q4eLsCoZMZsEdFLQ==', N'pT01B5fQkRGv7Lrrop6ERg==', N'Photos/Nurse/f3d25b6f-d688-4d7b-b0aa-bb87ce916bd8.jpg', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', 1)
SET IDENTITY_INSERT [dbo].[Nurses] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [Name], [Age], [Address], [Email], [Password], [PhoneNo]) VALUES (9, N'gMw9HbXpNzFsc4m6bX4/aA==', 22, N'esQrt1cb6Rgmz249by5+5g==', N'q14K2EBLSilf2/PanoiRuA==', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'JfL61kCHkyUoyix6OLdPxA==')
INSERT [dbo].[Patients] ([Id], [Name], [Age], [Address], [Email], [Password], [PhoneNo]) VALUES (10, N'SNShVz3Kb3RJDNMobh5aCw==', 22, N'39K3tSZ6Fn/tFvy+fm8s3A==', N'nGpL7wznSNHoIVSAFTiugqBGwMXfr3gAjR5zQ3XLsvI=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'8UNIdRDzdahOcPl1PRyOSw==')
INSERT [dbo].[Patients] ([Id], [Name], [Age], [Address], [Email], [Password], [PhoneNo]) VALUES (11, N'lajM32vma4oNgJY7t6DsaA==', 22, N'm2HOUkbPiR7UmI/orimM3Q==', N'P9oe4/+68YfkRYNLUxFhcw==', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'MUZpKeunXg2fpFtbYuxt9A==')
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Receptionists] ON 

INSERT [dbo].[Receptionists] ([Id], [Name], [PhoneNo], [Email], [Password], [Image]) VALUES (1, N'sHA6H0pUOgKtCffn8JVBnw==', N'mU2dClAgvgIUoDSAeXXDqw==', N'Chnu/yGvvaNnPba2xXDLXw==', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'Photos/77252c6d-6e2c-4ff2-aead-a932be3ef80f.jpg')
SET IDENTITY_INSERT [dbo].[Receptionists] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Title], [Description], [Image], [TargetLink]) VALUES (1, N'Doctor', N' Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tempor quam, eu efficitur tortor.
', N'/Photos/doctor2.jpg', N'Appointment')
INSERT [dbo].[Services] ([Id], [Title], [Description], [Image], [TargetLink]) VALUES (2, N'Blood', N' Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tempor quam, eu efficitur tortor.
', N'/Photos/blood.jpg', N'BloodBank')
INSERT [dbo].[Services] ([Id], [Title], [Description], [Image], [TargetLink]) VALUES (3, N'Ambulance', N' Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tempor quam, eu efficitur tortor.
', N'/Photos/ambulance.jpg', N'Emergency')
SET IDENTITY_INSERT [dbo].[Services] OFF
SET IDENTITY_INSERT [dbo].[SystemAdmins] ON 

INSERT [dbo].[SystemAdmins] ([Id], [Name], [Email], [Password], [Image]) VALUES (1, N'VnaQupFdF/bbPuFuZcgrLg==', N'P6sizq8CHY0O+Na+8xjbC7z4mdhvnLlIwC+rK/qdMd4=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'Photos/Nurse/331ca81e-a44b-41c0-b808-f8e5527f737d.jpg')
SET IDENTITY_INSERT [dbo].[SystemAdmins] OFF
SET IDENTITY_INSERT [dbo].[Wards] ON 

INSERT [dbo].[Wards] ([Id], [Name], [Description]) VALUES (1, N'ICU', N'Chield and Adult')
INSERT [dbo].[Wards] ([Id], [Name], [Description]) VALUES (2, N'CCU', N'Chield and Adult')
INSERT [dbo].[Wards] ([Id], [Name], [Description]) VALUES (3, N'Medicine', N'Chield and Adult')
SET IDENTITY_INSERT [dbo].[Wards] OFF
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((0)) FOR [WardId]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ((0)) FOR [Fees]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ((0)) FOR [CategoryId]
GO
ALTER TABLE [dbo].[Nurses] ADD  DEFAULT ((0)) FOR [WardId]
GO
USE [master]
GO
